noscript{
    background-color: white;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    padding:50px;
    justify-content: center;
    align-items: center;
    position:fixed;
    z-index:1000000000;
    overflow: none;
}






